.each-project-list-item {
  width: 300px;
  padding-bottom: 20px;
  /* border: 1px solid #758694; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 15px 5px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.each-project-list-item:hover {
  box-shadow: 0 0 20px #3db41f;
}
@media screen and (max-width: 767px) {
  .each-project-list-item {
    margin-bottom: 12px;
  }
}

.each-project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  text-decoration: none;
}
.each-project-home-img {
  width: 100%;
  background-size: cover;
}
.each-project-name {
  color: #102a42;

  font-style: italic;
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
}
.tech-names {
  color: #324d67;
  font-size: 15px;
  margin-left: 7px;
  margin-right: 7px;
}
.each-projects-links {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.names-of-techs {
  font-size: 14px;
  color: #102a42;
  background-color: #f1f5f8;
  padding: 5px;
}
.tech-names-ul {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
