.light-home {
  background-color: #f2fbfd;
}
.dark-home {
  background-color: #222;
}
.home-wrapper {
  width: 90vw;
  max-width: 1150px;
  margin: 0px auto;
}
.home-row-sider {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .home-row-sider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-img {
    display: none;
  }
}
.user-img {
  width: 300px;
  height: 500px;
}
.home-content {
  display: flex;
  flex-direction: column;
}
.links-desktop {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 767px) {
  .links-desktop {
    display: none;
  }
}
.home-name {
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  font-style: italic;

  text-shadow: 1px 2px 7px #9eb2c7;
  font-size: 55px;
}
.home-role {
  color: #324d67;
  font-weight: bold;
  unicode-bidi: isolate;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size: 28px;
}
.links > .social-icons {
  font-size: 30px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #52d1da;
}
.social-icons:hover {
  color: aqua;
}
.btn {
  padding: 5px;
  /* margin-top: 15px; */
  background-color: #0a6c75;
  border: none;
  color: #fff;
  font-size: 20px;
  /* width: 50%; */
  border-radius: 10px;
}
.btn:hover {
  background-color: #102a42;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 15px;
    padding: 8px;
    letter-spacing: 1px;
  }
}
.home-projects {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-projects-section {
  width: 90vw;
  max-width: 1150px;
  min-height: 100vh;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 100px;
  padding-left: 0px;
}

@media screen and (max-width: 1100px) {
  .home-projects-section {
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
  }
}
@media screen and (max-width: 760px) {
  .home-projects-section {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
  }
}
.prg-btn {
  margin-bottom: 25px;
}
.projects-title {
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
  color: #102a42;
  font-size: 50px;
  font-family: "Kaushan Script", cursive;

  letter-spacing: 2px;
}

a {
  cursor: pointer;
}
button {
  cursor: pointer;
}
.home-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
