@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: "Noto Sans";
  text-decoration: none;
}
a {
  text-decoration: none;
}
.lazy-loading-div {
  width: 100vw;
  height: 100vh;
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lazy-loading-div div h1 {
  color: #52d1da;
  font-size: 50px;
}
